<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader" class="preloader">
        <div class="preloader-content">
            <div class="spinner"></div>
            <p>Loading...</p>
        </div>
    </div>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        
        <main>
            <%- body %>
        </main>
        
        <%- include('../partials/footer') %>
    </div>

    
    <script src="/js/preloader.js"></script>
</body>
</html>